/* CSS Reset: Set default properties for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  



  /* section 1 starts */

  /* Whole section 1 */
  .sec-1 {
    background-color: #a5603e; /* Set the background color for the entire section */
  }
  
  /* Section 1 left side */
  .section-1-img {
    width: 100%; /* Make the image take up the full width of its container */
    float: right; /* Position the image to the right */
  }
  
  .right-half {
    width: 50%; /* Set the width of the right half */
    float: right; /* Position the right half to the right */
  }
  
  .top-left-text-postion {
    margin-top: 2.5%; /* Add top margin */
    margin-left: 10%; /* Add left margin */
    color: #EFE3B8; /* Set text color */
  }
  
  .sec-1-h1{
      font-weight: 200;
  }
  
  .center-text-postion {
    margin-left: 10%; /* Add left margin */
    margin-top: 20%; /* Add top margin */
    color: #EFE3B8; /* Set text color */
    font-size: 2em; /* Set font size */
    margin-bottom: 20%; /* Add top margin */
  }
  
  .sec-1-h1-1{
      font-weight: 400;
  }
  
  .custom-button {
    background-color: #a5603e; /* Set the initial background color */
    border: 2px solid currentColor;
    color: inherit;
    text-align: center;
    cursor: pointer;
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 10px; /* Add border radius for rounded corners */
    border-color: #EFE3B8; /* Set border color */
    color: #EFE3B8; /* Set text color */
  }
  
  .button-postioning {
    margin-left: 10%; /* Add left margin */
    margin-top: -5%; /* Add top margin */
    margin-bottom: 10%;
  }

  /* section 1 ends */


  /* section 1 media */
  /* Media query for 1920px screen size */
@media screen and (max-width: 1920px) {
  /*styles for 1920px screen size here */
}

/* Media query for 1280px screen size */
@media screen and (max-width: 1280px) {
  .center-text-postion {
    font-size: 1.3em;
  }
  .sec-1-h1 {
    font-size: 1.8em;
  }
}

/* Media query for 920px screen size */
@media screen and (max-width: 920px) {

  .center-text-postion {
    font-size: 0.7em;
  }
  .sec-1-h1 {
    font-size: 1em;
  }
  .custom-button {
    font-size: 14px;
    padding: 12px 24px;
  }
}

/* Media query for 600px screen size */
@media screen and (max-width: 600px) {
  .center-text-postion {
    font-size: 0.6em;
  }
  .section-1-img{
    width: 120%;
    margin-left: 5%;
  }
  .center-text-postion{
    margin-right: 10%;
  }
  .sec-1-h1 {
    font-size: 0.8em;
  }
  .custom-button {
    font-size: 12px;
    padding: 10px 20px;
  }
}

/* Media query for 400px screen size */
@media screen and (max-width: 430px) {
  .sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 0%;
    margin-left: -20%;
    margin-right: -20%;
  }
  .sec-1-mobile{
    display: flex;
    flex-direction: row;
    margin-right: 0%;
    padding: 0%;

  }
  .section-1-img{
    width: 100%;
    margin-left: 0%;
  }

  .sec-1{
    display: flex;
    align-content: center;
    align-items: center;

  }

  .top-left-text-postion{
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
  }

  .top-left-text-postion h1{
    margin-left: 2.5%;
  }


  .center-text-postion h1{
    font-size: 1.5em;
  }

  .center-text-postion{
    margin-left: 0%;
    margin-right: 0%;
    width: 50%;
  }

  .button-postioning{
    margin-left: 20%;
    margin-right: 0%;
    width: 40%;
    float: right;
  }

  .custom-button{
    margin-top: 10%;
  }

  .left-half, .right-half{
    width: 100%;
  }
  .center-text-postion {
    font-size: 0.9em;
  }
  .sec-1-h1 {
    font-size: 1.2em;
  }
  .custom-button {
    font-size: 12px;
    padding: 10px 20px;
  }
  .button-postioning{
    margin-top: 30%;
  }
}

  /* section 1 media */






  /* section 2 starts */
  
  .left-half {
    width: 50%; /* Set the width of the left half */
    float: left; /* Position the left half to the left */
  }
  
  .sec-2 {
      background-color: #EFE3B8; /* Set the background color for the entire section */
    }
    
  .section-2-img {
      width: 100%; /* Make the image take up the full width of its container */
      float: left; /* Position the image to the left */
  }
  
  .left-half-sec-2 {
      width: 50%; /* Set the width of the left half */
      float: left; /* Position the left half to the left */
  }
  
  .right-half-sec-2 {
      width: 50%; /* Set the width of the right half */
      float: right; /* Position the right half to the right */
  }
  
  .center-text-postion-sec-2 {
      margin-left: 10%; /* Add left margin */
      margin-top: 30%; /* Add top margin */
      color: #a5603e; /* Set text color */
      font-size: 1.5em; /* Set font size */
      font-weight: 200; /* Set font weight */
  }
  
  /* section 2 H1 tag */
  .sec-2-h1{
      margin-bottom: 5%;
      font-size: 2.2em;
  }
  
  /* section 2 P tag */
  .sec-2-p{
      font-size: 0.9em;
      font-weight: 100;
  }
  

  /* section 2 ends */


  /* section 2 media */
  /* Media query for 1920px screen size */
@media screen and (max-width: 1920px) {
  /* Styles for 1920px screen size here */
}

/* Media query for 1280px screen size */
@media screen and (max-width: 1280px) {
  .sec-2-h1 {
    font-size: 1.8em;
  }
  .sec-2-p {
    font-size: 0.8em;
  }
}

/* Media query for 768px screen size */
@media screen and (max-width: 768px) {
  .sec-2 {
    display: flex;
    flex-direction: column;
  }
  .left-half-sec-2,
  .right-half-sec-2 {
    width: 100%;
  }
  .center-text-postion-sec-2 {
    font-size: 1.3em;
    margin-top: 20%;
  }
  .sec-2-h1 {
    font-size: 3em;
  }
  .sec-2-p {
    font-size: 1.25em;
    margin-bottom: 10%;
    margin-right: 5%;
  }
}

/* Media query for 400px screen size */
@media screen and (max-width: 400px) {
  .center-text-postion-sec-2 {
    font-size: 1em;
    margin-top: 15%;
  }
  .sec-2-h1 {
    font-size: 2em;
  }
  .sec-2-p {
    font-size: 1em;
  }
}

  /* section 2 media */



  /* section 3 starts */

  /* h1 postioning  */
  .sec-3-h1-header{
    margin-left: 5%;
    margin-top: 5%;
    font-size: 1.75em;
    font-weight: 200;
  }

   /* section 3 h1 text */
  .sec-3-h1{
    font-weight: 200;
  }

  .sec-3-background{
    background-color: #a5603e; /* Set the background color for the entire section */
    color: #EFE3B8; /* Set text color */
}
  
  /* Create a flexbox row container */
  .row {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Define the column styling */
  .column {
    flex-basis: calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .h1-sec-3-col{
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 2.5%;
  }

  .p-sec-3-col{
    font-weight: 200;
  }
  
  /* Make the images responsive */
  .column img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Adjust the column layout for smaller screens */
  @media only screen and (max-width: 768px) {
    .column {
      flex-basis: calc(50% - 20px);
    }
  }
  
  /* Adjust the column layout for mobile screens */
  @media only screen and (max-width: 480px) {
    .column {
      flex-basis: 100%;
    }
  }
  
  /* section 3 ends  */

  /* section 3 media */
  /* Media query for 1920px screen size */
@media screen and (max-width: 1920px) {
}

/* Media query for 1280px screen size */
@media screen and (max-width: 1280px) {
}

/* Media query for 768px screen size */
@media screen and (max-width: 768px) {
  .sec-3-h1-header{
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    font-size: 2.5em;
  }

  .row {
    flex-direction: column;
  }

  .column h1{
    font-size: 2.5em;
  }

  .column p{
    font-size: 1.75em;
  }
}

/* Media query for 480px screen size */
@media screen and (max-width: 480px) {
  .sec-3-h1-header{
    font-size: 1.5em;
  }

  .row {
    flex-direction: column;
  }

  .column h1{
    font-size: 1.75em;
  }

  .column p{
    font-size: 1em;
  }
}

/* section 3 media */




/* section 4 starts */

/* Set the text color for the sec-4 class */
.sec-4{
    color: #a5603e;
  }
  
  /* Set the background color for the sec-4-background class */
  .sec-4-background{
    background-color: #EFE3B8;
  }
  
  /* Create a flex container with the row class */
  .row {
    display: flex;
  }
  
  /* Style the left column with padding and font size */
  .left-column {
    flex: 1;
    padding: 20px;
    font-size: 1.5em;
  }
  
  /* Style the right column with padding and width */
  .right-column {
    padding: 20px;
    width: 65%;
  }
  
  /* Create a flex container with the image-row class and apply margin and width */
  .image-row {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
  }
  
  /* Style the images within the image-row class */
  .image-row img {
    width: 200%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
  }
  
  /* Apply padding to the text within the text-postion-sec-4 class */
  .text-postion-sec-4 {
    padding-left: 20px;
  }
  
  /* Style the h2 elements within the text-postion-sec-4 class */
  .text-postion-sec-4 h2 {
    margin-top: 5%;
    margin-bottom: 2.5%;
    font-size: 1.8em;
  }
  
  /* Style the p elements within the text-postion-sec-4 class */
  .text-postion-sec-4 p {
    font-size: 1em;
    font-weight: 100;
  }
  
  /* section 4 ends */


  /* section 4 media */
  /* Media query for 1920px screen size */
@media screen and (max-width: 1920px) {
}

/* Media query for 1280px screen size */
@media screen and (max-width: 1280px) {
}

/* Media query for 768px screen size */
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .left-column{
    font-size: 1.8em;
  }
  
  .right-column {
    width: 100%;
  }
}

/* Media query for 480px screen size */
@media screen and (max-width: 480px) {
  .left-column h1{
    font-size: 1em;
  }
  .text-postion-sec-4 h2 {
    font-size: 1.4em;
  }
  .text-postion-sec-4 p {
    font-size: 0.9em;
  }
  .right-column{
    align-items: center;
    align-content: center;
  }
  .text-postion-sec-4 h2{
    font-size: 1em;
    margin-right: -10%;
  }
  .text-postion-sec-4 p{
    font-size: 1em;
    margin-right: -10%;
  }
}

  /* section 4 media */





/* Section 5 starts */
.sec-5 {
    text-align: center;
  }
  
  /* Sets background image properties for Section 5 */
  .sec-5-background-img {
    background-image: url('Section 5 background.png'); /* Specifies the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center; /* Aligns the background image to the center */
    background-size: cover; /* Ensures that the background image covers the entire element */
    width: 100%; /* Sets the container width to 100% */
    height: auto; /* Sets the container height to auto */
    background-position: bottom; /* Centers the background image */
  }
  
  /* Centered text styling for Section 5 */
  .centered-text-sec-5 {
    text-align: center; /* Centers the text within the inner container */
    align-items: center;
    justify-content: center;
    margin-top: 10%; /* Adds a margin-top of 10% */
    margin-bottom: 10%; /* Adds a margin-bottom of 10% */
    color: #EFE3B8; /* Sets the text color */
  }
  
  /* Paragraph text styling for Section 5 */
  .p-text-sec-5 {
    font-weight: 300; /* Sets font-weight */
    font-size: 3.2em; /* Sets font-size */
    margin-bottom: 2.5%; /* Adds a margin-bottom of 2.5% */
  }
  /* Section 5 ends */

  /* Section 5 media */
  /* Media query for 1920px screen size */
@media screen and (max-width: 1920px) {
}

/* Media query for 1280px screen size */
@media screen and (max-width: 1280px) {
  .p-text-sec-5 {
    font-size: 2.5em;
  }
}

/* Media query for 768px screen size */
@media screen and (max-width: 768px) {
  .p-text-sec-5 {
    font-size: 2em;
  }
}

/* Media query for 375px screen size */
@media screen and (max-width: 375px) {
  .p-text-sec-5 {
    font-size: 1em;
  }
}

  /* section 5 media  */




  
  /* Section 6 starts */
  .sec-6 {
    color: #a5603e;
  }
  
  .sec-6-h1 {
    font-weight: 100;
  }

  
  /* Sets background color for Section 6 */
  .sec-6-background-color {
    background-color: #EFE3B8;
  }
  
  /* Header text position styling for Section 6 */
  .sec-6-header-text-postion {
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 0.8em;
    margin-top: 2.5%;
    font-weight: 800;
  }
  
  .sec-6-header-text-postion h1 {
    font-weight: 800;
  }
  
  /* Header line text position styling for Section 6 */
  .sec-6-headerline-text-postion {
    margin-left: 5%;
    margin-bottom: 2.5%;
  }
  
  .sec-6-headerline-text-postion h1 {
    font-size: 3.5em;
  }
  
  /* Container styling for Section 6 */
  .container-sec-6 {
    width: auto;
    margin: 0 auto;
  }
  
  /* Left column styling for Section 6 */
  .left-sec-6 {
    float: left;
    width: 50%;
    text-align: center;
  }
  
  /* Right column styling for Section 6 */
  .right-sec-6 {
    margin-top: 15%;
    float: right;
    width: 45%;
    margin-left: 2.5%;
    align-items: baseline;
  }
  
  /* Footer image styling for Section 6 */
  .sec-6-footer-img {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 10%;
  }
  
  .sub-info-1 {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  /* Section 6 ends */


  /* section 6 media */
  /* Media query for 1920px screen size */
@media screen and (max-width: 1920px) {
}

/* Media query for 1280px screen size */
@media screen and (max-width: 1280px) {

  .sec-6-headerline-text-postion h1 {
    font-size: 3em;
  }
  .sec-6-h1 {
    font-size: 4em;
  }
}

/* Media query for 768px screen size */
@media screen and (max-width: 768px) {
  .sec-6-h1 {
    font-size: 1.2em;
  }
  .sec-6-header-text-postion{
    font-size: 1.8em;
  }
  .sec-6-headerline-text-postion h1 {
    font-size: 2.5em;
    margin-top: 5%;
  }

  .left-sec-6, .right-sec-6 {
    width: 100%;
  }

  .sub-info-1{
    margin-left: 10%;
    margin-bottom: 0%;
    margin-top: 2.5%;
  }

  .right-sec-6{
    margin-bottom:10% ;
  }
}

/* Media query for 375px screen size */
@media screen and (max-width: 375px) {
  .sec-6-h1 {
    font-size: 1em;
  }
}

  /* section 6 media */