/* CSS Reset: Set default properties for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  /* section 1 starts */

  /* Whole section 1 */
  .sec-1 {
    background-color: #a5603e; /* Set the background color for the entire section */
  }
  
  /* Section 1 left side */
  .section-1-img {
    width: 100%; /* Make the image take up the full width of its container */
    float: right; /* Position the image to the right */
  }
  
  .right-half {
    width: 50%; /* Set the width of the right half */
    float: right; /* Position the right half to the right */
  }
  
  .top-left-text-postion {
    margin-top: 2.5%; /* Add top margin */
    margin-left: 10%; /* Add left margin */
    color: #EFE3B8; /* Set text color */
  }
  
  .sec-1-h1{
      font-weight: 200;
  }
  
  .center-text-postion {
    margin-left: 10%; /* Add left margin */
    margin-top: 20%; /* Add top margin */
    color: #EFE3B8; /* Set text color */
    font-size: 1.5em; /* Set font size */
  }
  
  .sec-1-h1-1{
      font-weight: 400;
  }
  
  .custom-button {
    background-color: #a5603e; /* Set the initial background color */
    border: 2px solid currentColor;
    color: inherit;
    text-align: center;
    cursor: pointer;
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 10px; /* Add border radius for rounded corners */
    border-color: #EFE3B8; /* Set border color */
    color: #EFE3B8; /* Set text color */
  }
  
  .button-postioning {
    margin-left: 10%; /* Add left margin */
    margin-top: 5%; /* Add top margin */
  }

  /* section 1 ends */

  /* section 2 starts */
  
  .left-half {
    width: 50%; /* Set the width of the left half */
    float: left; /* Position the left half to the left */
  }
  
  .sec-2 {
      background-color: #EFE3B8; /* Set the background color for the entire section */
    }
    
  .section-2-img {
      width: 100%; /* Make the image take up the full width of its container */
      float: left; /* Position the image to the left */
  }
  
  .left-half-sec-2 {
      width: 50%; /* Set the width of the left half */
      float: left; /* Position the left half to the left */
  }
  
  .right-half-sec-2 {
      width: 50%; /* Set the width of the right half */
      float: right; /* Position the right half to the right */
  }
  
  .center-text-postion-sec-2 {
      margin-left: 10%; /* Add left margin */
      margin-top: 30%; /* Add top margin */
      color: #a5603e; /* Set text color */
      font-size: 1.5em; /* Set font size */
      font-weight: 200; /* Set font weight */
  }
  
  /* section 2 H1 tag */
  .sec-2-h1{
      margin-bottom: 5%;
      font-size: 2.2em;
  }
  
  /* section 2 P tag */
  .sec-2-p{
      font-size: 0.9em;
      font-weight: 100;
  }
  

  /* section 2 ends */



  /* section 3 starts */

  /* h1 postioning  */
  .sec-3-h1-header{
    margin-left: 5%;
    margin-top: 5%;
    font-size: 1.75em;
    font-weight: 200;
  }

   /* section 3 h1 text */
  .sec-3-h1{
    font-weight: 200;
  }

  .sec-3-background{
    background-color: #a5603e; /* Set the background color for the entire section */
    color: #EFE3B8; /* Set text color */
}
  
  /* Create a flexbox row container */
  .row {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Define the column styling */
  .column {
    flex-basis: calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .h1-sec-3-col{
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 2.5%;
  }

  .p-sec-3-col{
    font-weight: 200;
  }
  
  /* Make the images responsive */
  .column img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Adjust the column layout for smaller screens */
  @media only screen and (max-width: 768px) {
    .column {
      flex-basis: calc(50% - 20px);
    }
  }
  
  /* Adjust the column layout for mobile screens */
  @media only screen and (max-width: 480px) {
    .column {
      flex-basis: 100%;
    }
  }
  
  /* section 3 ends  */



/* Media Queries  */

/* Mobile devices (320px to 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* Add your mobile-specific styles here */
  }
  
  /* Tablets and iPads (481px to 768px) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Add your tablet-specific styles here */
  }
  
  /* Laptops (769px to 1024px) */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Add your laptop-specific styles here */
  }
  
  /* Desktops (1025px to 1200px) */
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    /* Add your desktop-specific styles here */
  }
  